<div class="row">
	<% @restaurants.each do |restaurant| %>
	<div class='col-md-4'>
		<h2><%= restaurant.name %></h2>
		<p><%= restaurant.description %></p>
		<%= link_to "Details", restaurant %>
	</div>
	<% end %>
</div>