<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12">
      <h1 class="text-centered">Make a Reservation</h1>
  	</div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render "form" %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>